/*
    General CSS setting for all jsp pages
*/
*{
    font-family: 'Gothic A1', sans-serif;
    font-size: 14px;
    margin: 0;
    box-sizing:border-box;
}

header{
    height: 50px;
    background-color: lightgreen;
}
ul{
    list-style-type: none;
    width:100%;
}
header>nav>ul>li{
    color: black;
    padding-right: 20px;
    float:left;
}
a{
    text-decoration: none;
}
a:visited{
    color:black;
}